/*
 * Theme Name: Boilerplate
 * Author: Intimation Creative
 * Author URI: https://intimation.uk.
 * Description: A simple starter theme for WordPress projects, developed by Intimation Creative.
 * Version: 0.1.0
 * Text Domain: boilerplate
 * Template: genesis
 */
