table {
	margin-bottom: 25px;
}

th,
td {
	border-bottom: 1px solid $color-grey-alpha;
	padding: 12px 15px;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}
