//--------------------------------------------------------------
// Colour Palette
//--------------------------------------------------------------
$color-default-black: #222;
$color-default-white: #fff;

$color-blue-alpha: #1eaedb;
$color-blue-bravo: #33c3f0;

$color-grey-alpha: #e1e1e1;
$color-grey-bravo: #f1f1f1;
$color-grey-charlie: #555;
$color-grey-delta: #bbb;
$color-grey-echo: #333;
$color-grey-foxtrot: #888;
$color-grey-golf: #d1d1d1;
