@mixin media($breakpoint) {
	@media (min-width: #{$breakpoint}) { @content; }
}

@mixin grid-span($number,$max: $base-container-width,$gutter: $base-gutter-width,$columns: 12) {
	$span: $columns / $number;

	display: block;
	float: left;
	margin-left: $gutter / $max * 100%;
	width: ( ( $max - $gutter * ( $span - 1 ) ) / $span ) / $max * 100%;

	&:first-child {
		margin-left: 0;
	}
}

@mixin grid-flow($nth) {
	&:nth-child(#{$nth}+1) {
		margin-left: 0;
	}
}

@mixin grid-reflow($nth,$gutter: $base-gutter-width,$max: $base-container-width) {
	&:nth-child(#{$nth}+1) {
		margin-left: $gutter / $max * 100%;
	}
}

@mixin wrap($max-width: $base-container-width) {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
}
