//--------------------------------------------------------------
// Grid
//--------------------------------------------------------------
$base-container-width: 1170px;
$base-gutter-width: 30px;

//--------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------
$screen--xs: 400px;
$screen--s: 550px;
$screen--m: 750px;
$screen--l: 1000px;
$screen--xl: 1200px;

//--------------------------------------------------------------
// Z-Index Scale
//--------------------------------------------------------------
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;
